<div class="flex-wrap" [ngClass]="modalActive ? 'wrapper-hide' : ''">
  <div class="inner-wrapper">
    <div class="flex-wrap">
      <div class="header">
        <p class="header-main">Lorem Picsum Image Carousel</p>
        <p class="header-sub">Viewing Work By</p>
        <select class="author-select" [(ngModel)]="authorString" (change)="prepareDisplayPictureArray()">
          <option *ngFor="let author of authors" value="{{ author }}">{{ author | titlecase }}</option>
        </select>
      </div>
    </div>
    <div class="flex-wrap">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>